#lexus-car {
    height: 400px;
    width: 615px;
}

#engine-container {
  position: relative;
  width: 600px;
  margin: 20px auto;
}

#engine {
  width: 100%;
  display: block;
}

#hand {
  width: 80px;
  position: absolute;
  top: 300px;
  left: 50px;
  cursor: grab;
}

#continueBtn {
  margin-top: 20px;
}

.car-icon {
  transform: scale(1.5); 
  transform-origin: center; 
}

#car-interior {
  height: auto;
  width: 600px;
}

#interior-container {
  position: relative;
}

#car-viewer {
  width: 700px;
  height: 500px;
  margin: auto;
  border: 1px solid #ccc;
}

/* Flat Tire Simulator */
.tire-simulation {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* hand break area*/
#HandBreakZone {
  position: absolute;
  left: 295px;  
  top: 200px;   
  width: 50px;   /* tweak until it fits */
  height: 80px;  /* tweak until it fits */
  border: 3px solid red;  /* start invisible */
  border-radius: 10px;             /* circle shape */
  transition: border 0.2s ease;
  pointer-events: none;   
}
#hand.dragging {
  cursor: grabbing;
}
